<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heemin.ws.model.dao.AuthDao">

    <insert id="insertRefreshToken" parameterType="map">
        INSERT INTO refresh_token (member_id, token)
        VALUES (#{memberId}, #{refreshToken});
    </insert>

    <delete id="deleteRefreshToken" parameterType="long">
        DELETE FROM refresh_token WHERE member_id = #{memberId};
    </delete>

    <select id="existByMemberId" resultType="boolean" parameterType="long">
        SELECT EXISTS (SELECT 1 FROM refresh_token WHERE member_id = #{memberId});
    </select>

</mapper>
