<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heemin.ws.model.dao.MemberDao">

    <select id="selectByEmail" parameterType="String" resultType="Member">
        select * from member where email = #{email};
    </select>

    <insert id="insert" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        insert into member (email, name, nickname, gender, tel, birth
        <if test="profileImg != null">
            , profile_img
        </if>)
        values (#{email}, #{name}, #{name}, #{gender}, #{tel}, #{birth}
        <if test="profileImg != null">
            , #{profileImg}
        </if>);
    </insert>

    <select id="selectById" parameterType="long" resultType="Member">
    	SELECT * FROM member
    	WHERE id = #{id};
    </select>
    
    <update id="update" parameterType="Member">
    	UPDATE member SET ()
    	VALUES ()
    	WHERE id = #{id};
    </update>
</mapper>
