<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heemin.ws.model.dao.PlaceReviewDao">
  <select id="selectById">
  	SELECT * FROM exercise_place_review
  	WHERE exercise_place_id = #{id};
  </select>
  
  <insert id="insertReview" parameterType="PlaceReview">
  	INSERT INTO exercise_place_review
  	(member_id, exercise_place_id, content, rating)
  	VALUES (#{memberId}, #{exercisePlaceId}, #{content}, #{rating});
  </insert>

	<select id="checkLiked" resultType="int">
		SELECT COUNT(*) FROM exercise_place_review_like
		WHERE exercise_place_review_id = #{reviewId}
		AND member_id = #{memberId};
	</select>

	<select id="checkBlocked" resultType="int">
		SELECT COUNT(*) FROM exercise_place_review_block
		WHERE exercise_place_review_id = #{reviewId}
		AND member_id = #{memberId};
	</select>
</mapper>
